################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Razor101
/bin/Debug/net9.0
/obj
